{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="avatar">
            <img class="img-circle" src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.Social.Email }}?s=200" alt="Profile">
          </div>
          <h3>Hi. I&rsquo;m <strong>{{ .Site.Params.author }}</strong>.</h3>
          <h4>Senior Systems Engineer @ <a href="https://www.eresources.com/">eResources</a></h4>
          {{ partial "social.html" . }}
          <hr>
          <div class="panel panel-default panel-default__homepage">
            <div class="panel-body">
            {{ range first 5 .Data.Pages.ByPublishDate.Reverse }}
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h5 style="text-align: right">
                    {{ .Date.Format "January 2, 2006" }}
                  </h5>
                 </div>
                 <div class="col-sm-8 col-md-8 col-lg-8">
                   <h5 style="text-align: left">
                    <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                  </h5>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
        </div> <!-- /container -->
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
